.lead__figure {
    margin: 0 auto;
    width: 76.88vw;
    max-width: 984px;
}

@media all and (max-width: 1024px) {
    .lead__figure {
        width: calc(100vw - 48px * 2);
    }
}

@media all and (max-width: 768px) {
    .lead__figure {
        width: 100vw;
    }
}
